<div class="container">
  <h2 class="page-title">Comment</h2>
  <ul>
    <% @comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>

  <%= form_with(model: @comment, url: board_task_comments_path(@comment.task), local: true) do |f| %>
    <div>
      <%= f.label :content, 'content' %>
    </div>
    <div>
      <%= f.text_area :content %>
    </div>
    <div>
      <%= f.submit 'submit', class: 'btn-submit' %>
    </div>
  <% end %>
</div>