<div class="container">
  <ul>
    <% @comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>

  <%= form_with(model: @comment, url: board_task_comments_path(@comment.task), local: true) do |f| %>
    <div>
      <%= f.label :content, '内容' %>
    </div>
    <div>
      <%= f.text_area :content %>
    </div>
    <div>
      <%= f.submit 'コメントする' %>
    </div>
  <% end %>
</div>