<div class="container">
  <% if user_signed_in? && current_user.has_written_task?(@task) %>
    <div class="dropdown-mini">
      <%= image_tag 'oval3.svg', class: 'dropdown-btn' %>
        <div class="dropdown-content-mini">
          <ul>
              <li><%= link_to '編集する', edit_board_task_path(@task.board) %></li>
              <li><%= link_to '削除する', board_task_path(@task.board), data: { method: 'delete', confirm: '本当に削除してもよろしいですか' } %></li>
          </ul>
        </div> 
    </div>
  <% end %>

  <%= link_to board_path(@board.id) do %>
   <h2 class="page-title"><%= @task.title %></h2>
  <% end %>
  
  <% if @task.eyecatch.attached? %>
    <%= image_tag @task.eyecatch, class: 'task_image' %>
  <% end %>
  <div class="board">
    <div class="board_content">
      <p class="board_detail"><%= @task.content %></p>
      <p class="deadline">期限 : <%= @task.deadline %></p>
      <% if user_signed_in? %>
        <% if current_user.has_checked?(@task) %>
          <div>■確認済み</div>
        <% else %>
          <%= link_to board_task_check_path(board_id: @board.id, task_id: @task.id), data: { method: 'post' } do %>
            <div>□未確認</div>
          <% end %>
        <% end %>
      <% end %>
      <div class="user-info">
        <div class="boardPage_user_image">
          <%= image_tag @task.user.avatar_image %>
        </div>
        <p class="board_user"><%= @task.user.display_name %></p>
      </div>
    </div>
  </div>

  <div>
    <h2 class="comment-title">Comment</h2>
  </div>
  <div class="comment_detail">
    <% @comments.each do |comment| %>
      <p class="comment"><%= comment.content %></p>
      <div class="user-info">
        <div class="commentPage_user_image">
            <%= image_tag comment.user.avatar_image %>
        </div>
        <p class="board_user"><%= comment.user.display_name %></p>
      </div>
    <% end %>
  </div>

  <% if user_signed_in? && current_user %>
    <%= link_to new_board_task_comment_path(board_id: @board.id, task_id: @task.id) do %>
      <div>
        <div class="board_new">
        <p>+ add new comment</p>
      </div>
    <% end %>
  <% end %>
</div>
