.container
  - if user_signed_in? && current_user.has_written_task?(@task)
    .dropdown-mini
      = image_tag 'oval3.svg', class: 'dropdown-btn'
      .dropdown-content-mini
        %ul
          %li= link_to '編集する', edit_board_task_path(@task.board)
          %li= link_to '削除する', board_task_path(@task.board), data: { method: 'delete', confirm: '本当に削除してもよろしいですか' }
  = link_to board_path(@board.id) do
    %h2.page-title= @task.title
  - if @task.eyecatch.attached?
    = image_tag @task.eyecatch, class: 'task_image'
  .board
    .board_content
      %p.board_detail= @task.content
      %p.deadline
        期限 : #{@task.deadline}
      - if user_signed_in?
        - if current_user.has_checked?(@task)
          = link_to board_task_check_path(board_id: @board.id, task_id: @task.id), data: { method: 'delete' } do
            %span.checked
              %i.fa.fa-check{"aria-hidden" => "true"}
              確認済み
        - else
          = link_to board_task_check_path(board_id: @board.id, task_id: @task.id), data: { method: 'post' } do
            %span.checked
              %i.fa.fa-hand-o-up{"aria-hidden" => "true"}
              未確認
      .user-info
        .boardPage_user_image
          = image_tag @task.user.avatar_image
        %p.board_user= @task.user.display_name
  %div
    %h2.comment-title Comment
  .comment_detail
    - @comments.each do |comment|
      %p.comment= comment.content
      .user-info
        .commentPage_user_image
          = image_tag comment.user.avatar_image
        %p.board_user= comment.user.display_name
  - if user_signed_in? && current_user
    = link_to new_board_task_comment_path(board_id: @board.id, task_id: @task.id) do
      %div
        .board_new
          %p + add new comment
