<div class="container">
  <% if @task.eyecatch.attached? %>
    <%= image_tag @task.eyecatch %>
  <% end %>
  <p><%= @task.title %></p>
  <p><%= @task.content %></p>
  <p><%= @task.deadline %></p>
  <p><%= @task.user.display_name %></p>

  <% if user_signed_in? && current_user.has_written_task?(@task) %>
    <li><%= link_to '編集する', edit_board_task_path(@task.board) %></li>
    <li><%= link_to '削除する', board_task_path(@task.board), data: { method: 'delete', confirm: '本当に削除してもよろしいですか' } %></li>
  <% end %>
</div>

<div>
  <h2>コメント一覧</h2>
</div>
<div>
  <% @comments.each do |comment| %>
    <p><%= comment.content %></p>
  <% end %>
</div>

<%= link_to 'コメントする', new_board_task_comment_path(board_id: @board.id, task_id: @task.id) %>
