<div class="container">
    <% if user_signed_in? && current_user.has_written?(@board) %>
      <div class="dropdown-mini">
        <%= image_tag 'oval3.svg', class: 'dropdown-btn' %>
        <ul>
          <div class="dropdown-content-mini">
            <li><%= link_to '編集する', edit_board_path(@board) %></li>
            <li><%= link_to '削除する', board_path(@board), data: { method: 'delete', confirm: '本当に削除してもよろしいですか' } %></li>
          </div>
        </ul>
      </div>
    <% end %>
  <h1><%= @board.title %></h1>
  <div class="board">
    <p><%= @board.content %></p>
    <% if @board.user.present? %>
      <p><%= @board.user.display_name %></p>
    <% end %>
  </div>
  <div>
    <% @tasks.each do |task| %>
      <% if task.eyecatch.attached? %>
        <%= image_tag task.eyecatch %>
      <% end %>
      <p><%= task.title %></p>
      <p><%= task.content %></p>
      <p><%= task.user.display_name %></p>
    <% end %>
  
  </div>
  <% if user_signed_in? && current_user %>
    <div>
      <%= link_to new_board_task_path(@board) do %>
        <div class="board_new">
        <p>+ add new task</p>
      <% end %>
    </div>
  <% end %>
</div>