<!DOCTYPE html>
<html>
  <head>
    <title>Todoapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <%= link_to 'Boards', root_path, class: 'header_pageTitle' %>
      <div class="dropdown">
        <% if user_signed_in? %>
          <%= image_tag current_user.avatar_image, class: 'header_avatar' %>
        <% else %>
          <%= image_tag 'default-avatar.png', class: 'header_avatar' %>
        <% end %>
        <% if user_signed_in? %>
          <ul class="dropdown-content">
            <li><%= link_to 'プロフィール', profile_path %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete' } %></li>
          </ul>
        <% else %>
          <ul class="dropdown-content">
            <li><%= link_to 'ログイン', new_user_session_path %></li>
          </ul>
        <% end %>
    </div>
    </header>
    <hr>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
